<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="ssip 209,ssip,settled and serving in place,marbletown,kingston,stoneridge,neighbors,neighborhood,settled and serving,community"> 
    <meta name="keywords" content="ssip, ssip 209, elderly friends, department of againg, help old, aging at home, senior sitting, department for the aging, department of aging, senior sitter services, find senior care, home care services elderly, elderly home care, senior care help, ssip 209, volunteer with elderly, neighbors help, office on aging, elderly help, area agency on aging, home for the aged, elderly home care services, "> <meta name="author" content="SSIP 209">
    <meta name="description" content="SSIP 209 - Settled and Serving in Place Information Website."> 
    <meta name="author" content="SSIP 209">
    <title>{% block title %}SSIP 209 - Settled and Serving in Place{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>