    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'members:member_list' %}" class="nav-link">Members</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'service-providers' %}" class="nav-link">Service Providers</a>
    </li>
    <li class="nav-item">
        <a href="#contact-us-btn" class="nav-link">Contact Us</a>
    </li>