{% extends "base.html" %}

{% block title %}Members{% endblock %}
{% load static %}

{% block splash %}
    SSIP 209 Members
{% endblock %}

{% block sidebar %}
    <ul>
        {% for member in member_list %}
        <li><a href="#{{ member.id }}">{{ member.last_name }}, {{ member.first_name }}</a></li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block content %}
<div class="row">
    <div class="col">
        <p class="text-center">
            <a href="{% url 'members:member_list_pdf' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Printable Version</a>
        </p>
    </div>
</div>
<div class="row">
    <style> h5 { font-size: 25px; } </style>
    {% for member in member_list %}
    <div class="col col-lg-4 col-md-6" style="margin-bottom: 2rem" >
        <div class="card">
            {% if member.picture %}
            <img src="{{ member.picture.url }}" alt="Member Picture" class="card-img-top"> {% else %}
            <img src="{% static 'images/default-person.jpg' %}" alt="Picture Placeholder" class="card-img-top"> {% endif %}
            <div class="card-body">
                <h5 class="card-title" id="{{ member.id }}">
                    {{ member.last_name }}, {{ member.first_name }}
                </h5>
                <div class="card-text">
                    <address>
                        {% if member.address or member.town %} {{ member.address }} {% if member.town %}, {{ member.town }} NY {% endif %}
                        <br> {% endif %} {% if member.homephone %} (Home) {{ member.homephone }}
                        <br> {% endif %} {% if member.cellphone %} (Cell) {{ member.cellphone }}
                        <br> {% endif %} {% if member.email %}
                        <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                        {% endif %}
                    </address>
                    <dl>
                        {% if member.hobbies %}
                        <dt>My Hobbies</dt>
                        <dd> {{ member.hobbies }}</dd>
                        <br> {% endif %} {% if member.canhelp %}
                        <dt>I can help with</dt>
                        <dd> {{ member.canhelp }} </dd>
                        <br> {% endif %} {% if member.needhelp %}
                        <dt>I could use help with</dt>
                        <dd>{{ member.needhelp }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}