{% extends "base.html" %}

{% block title %}Members{% endblock %}

{% block splash %}
    <h1>SSIP 209 Members</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'members:member_list' %}" method="POST" role="form">
        {% csrf_token %}
        <div class="form-group">
            {% if pw_form.password.errors %} {{ pw_form.password.errors }} {% endif %}
            <label for="id_password"> 
                <div class="alert alert-info h4">
                    <p>To preserve the privacy of our members, this page is password protected. If you don't know the password, you may contact Vivi.</p> 
                    <p>Please Enter the SSIP 209 Members password. </p>
                </div>
            </label>
            <p>
            {{ pw_form.password }}
            </p>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" value="Submit"/>
        </div>
    </form>
{% endblock content %}
