@import "custom_bootstrap_vars"
@import "~bootstrap/scss/bootstrap"
@import "splash"
@import "news"
@import "information"


$brand-primary:         darken(#428bca, 6.5%)
$brand-primary:         darken(#dc322f, 6.5%)
$brand-success:         #5cb85c
$brand-info:            #5bc0de
$brand-warning:         #f0ad4e
$brand-danger:          #d9534f


$body-bg: #edefed
$splash-padding-top: 2rem
$red-darker: darken(#dc322f, 15%)
$blue-overlay: rgb(15, 33, 43)


.contact_us_wrapper
  padding: 2rem 0
  background: #5CC6E4

footer
  @extend .container-fluid
  color: lighten(#002b3f, 30%)
  background: #002b36
  text-align: center
  padding-top: 5rem
  min-height: 200px

  img
    margin: 2rem auto
  p
    vertical-align: bottom



// section.events
//   width: 100%
//   margin: 0
//   padding: 0
//   @include box-shadow(rgba(15, 33, 43, 0.4) 0 0 5px, rgba(15, 33, 43, 0.8) 0 0 3px 1px inset)
//   // background: linear-gradient(rgba(114, 208 , 235, .6), rgba(114, 208, 235, .6))
//   background: linear-gradient(rgba(15, 33, 43, 0.7), rgba(15, 33, 43, 0.8))

//   h2
//     margin: 1rem
//     font-size: 16px
//     font-style: italic
//     font-weight: 500
//     color: $gray-lighter
//     text-align: center

//   ul.events-list
//     margin: 0
//     padding: 0

//     li 
//       display: inline-block
//       list-style-type: none
//       padding: 1rem 1rem 1rem 1rem
//       height: 100%
//       vertical-align: top
//       &:hover
//         background: lighten($blue-overlay, 5%)
//         background: linear-gradient(rgba(15, 33, 43, 0.7), rgba(15, 33, 43, 0.8))

//   .group
//     @extend .clearfix

//   .event-description
//     margin-left: 1rem
//     display: inline-block
//     float: left
//     width: 140px

//   h3.event-title
//     padding: 0
//     margin: 0
//     font-size: 16px
//     font-weight: 600
//     letter-spacing: 0
//     text-transform: uppercase

//   h4.event-location
//     padding: 0
//     margin: 0
//     font-size: 16px
//     font-weight: 600
//     color: lighten(#314a53, 40%)
//     text-transform: uppercase

//   h4.event-time
//     padding: 0
//     margin: 0
//     margin-top: .4rem
//     font-size: 14px
//     font-weight: 600
//     color: lighten(#314a53, 20%)
//     text-transform: uppercase
//     line-height: 8px

//   .event-date
//     display: inline-block
//     float: left
//     width: 50px 

//   .month
//     background: linear-gradient($red-darker, darken($red-darker, 10%))
//     border-radius: 5px 5px 0 0
//     font-weight: 600 
//     text-align: center
//     text-transform: uppercase

//   .weekday
//     font-size: 12px
//     font-weight: 600 
//     line-height: 2em
//     text-align: center
//     font-style: italic
//     color: lighten(#314a53, 40%)

//   .date
//     padding: .4rem 0
//     color: #000
//     background: linear-gradient($gray-lighter, darken($gray-lighter, 10%))
//     border-radius: 0 0 5px 5px
//     font-weight: 600 
//     font-size: 24px
//     line-height: 24px
//     text-align: center
//     @include box-shadow(rgba(black, 0.4) 1px 1px 3px inset)