@import "custom_bootstrap_vars"
@import "~bootstrap/scss/bootstrap"
@import "home"
@import "news"
@import "information"
@import "members"


$brand-primary:         darken(#428bca, 6.5%)
$brand-primary:         darken(#dc322f, 6.5%)
$brand-success:         #5cb85c
$brand-info:            #5bc0de
$brand-warning:         #f0ad4e
$brand-danger:          #d9534f


$body-bg: #edefed
$splash-padding-top: 2rem
$red-darker: darken(#dc322f, 15%)
$blue-overlay: rgb(15, 33, 43)


.contact_us
  @include make-container()
  text-align: center
  width: 100%
  padding: 2rem 0
  background: #5CC6E4

#contact-form
  @include make-col-ready()

  @include media-breakpoint-up(sm)
    @include make-col-offset(2)
    @include make-col(8)
  
  @include media-breakpoint-up(md)
    @include make-col-offset(3)
    @include make-col(6)

  @include media-breakpoint-up(lg)
    @include make-col-offset(4)
    @include make-col(4)

footer
  @include make-container()
  width: 100%
  color: lighten(#002b3f, 30%)
  background: #002b36
  text-align: center
  padding-top: 5rem
  min-height: 200px