@import "custom_bootstrap_vars"
@import "~bootstrap/scss/bootstrap"
@import "splash"
@import "news"
@import "information"


$brand-primary:         darken(#428bca, 6.5%)
$brand-primary:         darken(#dc322f, 6.5%)
$brand-success:         #5cb85c
$brand-info:            #5bc0de
$brand-warning:         #f0ad4e
$brand-danger:          #d9534f


$body-bg: #edefed
$splash-padding-top: 2rem
$red-darker: darken(#dc322f, 15%)
$blue-overlay: rgb(15, 33, 43)


.contact_us_wrapper
  padding: 2rem 0
  background: #5CC6E4

footer
  @extend .container-fluid
  color: lighten(#002b3f, 30%)
  background: #002b36
  text-align: center
  padding-top: 5rem
  min-height: 200px

  img
    margin: 2rem auto
  p
    vertical-align: bottom