{% extends "base.html" %}

{% block title %}
    About SSIP
{% endblock title %}

{% block splash %}
    About SSIP 209
{% endblock splash %}



{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 3rem 8rem; text-align: justify">
                <h2 id="overview">Overview</h2>
                <p>
                    Formed in the Spring of 2011, a group of neighbors gathered people from the 209 corridor (south of Kingston, NY) to discuss
                    how they might help one another remain independent, strengthen their communities, and stay in their own
                    homes. Our group relies on the volunteers--neighbor helping neighbor. We have nurses, business people,
                    artists, homemakers, computer specialists, doctors, lawyers, educators--people with all kinds of skills.
                </p>

                <h2 id="who-are-we">Who are we?</h2>
                <p>
                    We all need help at one time or another, and many people are hesitant to ask. To address this issue, our members are asked
                    to indicate the ways in which they can help. Then a List Manager, available on our special phone, responds
                    to calls for help by looking through the list to match the need with a volunteer. When you join, your
                    name will be placed on the list to call, and of course, you will be able to ask for help.
                </p>

                <h2 id="what-can-you-do">What can you do?</h2>
                <p>
                    Read aloud-or make a phone call and check up on a neighbor. One person needed a ride to and from the doctor for treatment,
                    another just needed someone to retrieve her walker from her basement, another needed a ride to a meeting
                    at night. All kinds of neighborly help is possible: someone to walk the dog or water the plants. Or someone
                    who enjoys walking, going to the movies or doing a puzzle together. Sociability is a big part of SSIP209.
                </p>

                <h2 id="how-can-we-help">How can we help?</h2>
                <p>
                    We recommend services providers such as contractors, handymen, electricians, yard men who offer our group discounts. What
                    we also discovered was that, in getting together regularly, we're always exchanging information that
                    is making our lives easier and more enjoyable.
                </p>

                <h2 id="where-do-we-meet">Where do we meet?</h2>
                <p>
                    Once a week - on Tuesdays at 9:30 a.m. - we gather at a local coffee shop for coffee and a chat for about an hour. Our members
                    also celebrate birthdays of the month. The regular business meetings are usually held at lunchtime on
                    the second Saturday of the month. Call 845-706-0182 for further information.
                </p>

                <h2 id="who-is-eligible">Who is eligible?</h2>
                <p>
                    Although most of us are over 50 years of age, all men and women are welcome. Our current group is clustered in the High Falls-Stone
                    Ridge area. Four other groups have formed: SSIP Kingston, SSIP New Paltz, SSIP Taconic, and SSIP Tri-County.
                    We are helping other communities in the area to form similar local groups. For information about these
                    groups (or forming your own), call ViVi at 845-331-0155 or write Vvhlavsa@aol.com.
                </p>

                <h2 id="how-much-is-membership">How much is membership?</h2>
                <p>
                    Members pay $25/year April-March. The fee covers telephone service, mileage transportation stipends and paper costs. Scholarships
                    are available for those who cannot afford the yearly fee.
                </p>

                <p>
                    <br/> </p>

                <p>
                    <strong>Join us! We are building community!</strong>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}