{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}SSIP 209 - Settled and Serving in Place{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/main.css' %}">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}{% endblock %}
</head>

<body>
    <header class="splash">
        <nav class="nav-phone navbar navbar-dark bg-info sticky-top">
            <a href="" class="navbar-brand">
                <i class="fas fa-home"></i> SSIP 209
            </a>
            <button class="navbar-toggler" 
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% include "components/navigation.html" %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="nav-desktop">
                        <div class="logo">
                            <i class="fas fa-home"></i> SSIP 209
                        </div>
                        <ul class="nav">
                            {% include "components/navigation.html" %}
                        </ul>
                    </nav>
                    <div class="hero">
                        <h1>Settled and Serving in Place</h1>
                        <p class="lead">Staying Independent and Happy In Our Own Homes</p>
                        <p>
                            <a class="btn btn-success btn-lg" href="{% url 'about' %}" role="button">Meet Our Community</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col news-desktop">
                    <h2>Members Write</h2>
                    {% for news_entry in membernews_entries %}
                    <div class="card">
                        {% if news_entry.header_image %}
                        <img class="card-img-top" src="{{ news_entry.header_image.url }}">
                        {% endif %}
                        <div class="card-header {% if news_entry.header_image %} card-header-picture{% endif %}">
                            {{ news_entry.title }}
                            <p class="text-muted">
                                {{ news_entry.created|date:"F Y" }}
                                {% if news_entry.author %}
                                    by {{ news_entry.author }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-body">
                                {{ news_entry.text|safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col news-desktop">
                    <h2>Local News</h2>
                    {% for news_entry in localnews_entries %}
                    <div class="card">
                        {% if news_entry.header_image %}
                        <img class="card-img-top" src="{{ news_entry.header_image.url }}">
                        {% endif %}
                        <div class="card-header {% if news_entry.header_image %} card-header-picture{% endif %}">
                            {{ news_entry.title }}
                            <p class="text-muted">
                                {{ news_entry.created|date:"F Y" }}
                            </p>
                        </div>
                        <div class="card-body">
                                {{ news_entry.text|safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col news-phone">
                    {% for news_entry in news_entries %}
                    <div class="card">
                        {% if news_entry.header_image %}
                        <img class="card-img-top" src="{{ news_entry.header_image.url }}">
                        {% endif %}
                        <div class="card-header {% if news_entry.header_image %} card-header-picture{% endif %}">
                            {{ news_entry.title }}
                            <p class="text-muted">
                                {{ news_entry.created|date:"F Y" }}
                            </p>
                        </div>
                        <div class="card-body">
                                {{ news_entry.text|safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include "components/contact_us.html" %}

    {% include "components/footer.html" %}

    {% block javascript %}
    <!-- Required by Bootstrap v4 beta -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bundle.js' %}"></script> {% endblock javascript %}
</body>

</html>