{% extends "base.html" %}
{% block title %} SSIP 209 Minutes {% endblock %}
{% block splash %} SSIP Minutes {% endblock %}

{% comment %}
{% block sidebar %}
<ul>
    {% for minutes_entry in minutes_entry_list %}
    <li><a href="#{{ minutes_entry.pk }}">{{ minutes_entry.title }}</a></li>
    {% endfor %}
</ul>
{% endblock sidebar %}
{% endcomment %}

{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.card-text *').css('fontFamily', '"Lato", "sans-serif"');
        $('.card-text *').css('fontSize', "16px");
    });
</script>

<style>
    .card-body {
        padding: 6rem 8rem;
    }
</style>

    {% for entry in minutes_entries %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    {{ entry.title }}
                </h3>
                <span class="text-muted">{% if entry.author %} by {{entry.author }} {% endif %}</span>
                    <p class="text-muted">
                        {{ entry.created|date:"F jS, Y" }}
                    </p>
                <div class="card-text text-justify">
                    {{ entry.text|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}