{% extends "base.html" %}
{% block title %} SSIP 209 Minutes {% endblock %}
{% block splash %} SSIP Minutes {% endblock %}

{% comment %}
{% block sidebar %}
<ul>
    {% for minutes_entry in minutes_entry_list %}
    <li><a href="#{{ minutes_entry.pk }}">{{ minutes_entry.title }}</a></li>
    {% endfor %}
</ul>
{% endblock sidebar %}
{% endcomment %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.card-text *').css('fontFamily', '"Lato", "sans-serif"');
        $('.card-text *').css('fontSize', "16px");
    });
</script>

<div class="row">
    {% for entry in minutes_entries %}
    <div class="col col-sm-12 minutes-col">
        <div class="card">
            <div class="card-body info-page">
                <h3 class="card-title">
                    {{ entry.title }}
                </h3>
                <span class="text-muted">{% if entry.author %} by {{entry.author }} {% endif %} {{ entry.created|date:"F Y" }} </span>
                <div class="card-text text-justify">
                    {{ entry.text|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}