{% extends "base.html" %}
{% block title %} SSIP 209 - Service Providers {% endblock %}
{% block splash %} Service Providers {% endblock %}

{% block sidebar %}
<ul>
    <li><a href="#car-services">Car Services</a></li>
    <li><a href="#computers-and-electronic-devices">Computers and Electronic Devices</a></li>
    <li><a href="#drivers">Drivers</a></li>
    <li><a href="#electrician">Electrician</a></li>
    <li><a href="#home-sitting">Home Sitting</a></li>
    <li><a href="#multiple-work-large-and-small">Multiple work (large and small)</a></li>
    <li><a href="#multiple-work-small">Multiple work (small)</a></li>
    <li><a href="#musician">Musician</a></li>
    <li><a href="#plumber">Plumber</a></li>
    <li><a href="#organizer-especially-paper">Organizer (especially paper)</a></li>
    <li><a href="#renovationsinterior-and-exterior">Renovations–interior and exterior</a></li>
    <li><a href="#snow-shovelling">Snow Shovelling</a></li>
    <li><a href="#tree-work">Tree Work</a></li>
    <li><a href="#windows">Windows</a></li>
    <li><a href="#yard-work">Yard Work</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
<style>
    .col-lg-6 {
        margin-bottom: 1rem;
    }
    .alert {
        font-size: 20px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .1);
        font-weight: 600;
    }
</style>

<div class="row">
    <div class="col-lg-12" style="margin-top: 1rem">
        <div class="alert alert-warning d-none d-lg-block" style="padding: 2rem 10rem; text-align: justify">
            This is a list of service providers recommended by and to our members. Most
            will provide discounts to SSIP members. We ask that members report back if
            their experience with one of them was unsatisfactory; otherwise, SSIP209 cannot
            be responsible for these recommendations. Rather, this is neighbor suggesting
            to neighbor someone who has given good service.
        </div>
        <div class="alert alert-warning d-lg-none .d-md-block"  style="text-align: justify">
            This is a list of service providers recommended by and to our members. Most
            will provide discounts to SSIP members. We ask that members report back if
            their experience with one of them was unsatisfactory; otherwise, SSIP209 cannot
            be responsible for these recommendations. Rather, this is neighbor suggesting
            to neighbor someone who has given good service.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" id="car-services">Car Services</h3>
                <ul>
                    <li>Your Service Center at 3059 Rt 32 (338-1377)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" id="car-services">Chiropractor</h3>
                <ul>
                    <li>
                        (Gentle) Risa Enders, Nutmeg Road, High Falls
                        <br>
                        845-687-9002
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" id="computers-and-electronic-devices">Computers and Electronic Devices</h3>
                <ul>
                    <li>Greg Schoenfeld 917-570-9866; ghs0301@gmail.com</li>
                    <li>
                        Robert Helfman does Windows, not Mac. He can help to set up email, backup and restore operations,
                        software management and repair and operating system maintenance and optimization. He also offers tutoring
                        on getting around Windows and the various programs it offers to enable a user-friendly experience. He
                        is familiar with Windows XP, Windows 7 and Windows 10. Windows 8 and 8.1 are a quick study. His number
                        is 338-0907.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" id="drivers">Drivers</h3>
                <ul>
                    <li>Robert Helfman - 338-0907</li>
                </ul>
                <ul>
                    <li>
                        Lisa Degondea - 338-5011. <br> 
                        She will take you to your appointment and wait for you for a reasonable set price.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" id="misc">Fixing Things</h2>
                <ul>
                    <li>
                        Ken Boscher
                        "Ken Fix It"
                        KenFixItNY@gmail.com
                        845-616-7999
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" id="misc">House Cleaning</h2>
                <ul>
                    <li>
                        <p>
                            Toni Viviani. Home: 845-687-0160. Cell: 845- 206-3778. 
                        </p>
                        <p>
                            Recommendation by Laura Shaine: My super duper housekeeper Toni ( 25 years working for me!)
                            is seeking 1 more day to clean- she will come 1x a week, or 1x two weeks
                            will even consider a 1-time cleaning.
                        
                            She is paid WELL and is well worth it.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" id="misc">Home Sitting</h2>
                <ul>
                    <li>
                        Eileen O'Neil (845)-417-1191 eolenterprises@yahoo.com
                        House sitting, Home watch, Small household jobs, etc.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Electrician</h3>
                <ul>
                    <li>Jason Wright, Electrician. Reliable and charges fair prices. 845-594-9536</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Massages</h3>
                <ul>
                    <li>
                        Kingston: Andrea Pastorella
                        <br>
                        845-282-6723
                    </li>
                    <li>
                        In Home: Mr. Sacha Kozak
                        <br>
                        914-466-6873
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" id="multiple-work-large-and-small">Multiple work (large and small)</h2>
                <ul>
                    <li>
                        Robb Magee (590-2632) mageerobb@gmail.com
                    </li>
                    <li>
                    Roger Wells (658-8929)–all kinds of building and repair except plumbing
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="multiple-work-small">Multiple work (small)</h2>
                <ul>
                    <li>
                        Ted Pietre (332-4559)–snow plowing, electrical work, lawn mowing, small plumbing, landscaping, carpentry
                    </li>
                    <li>
                        Josh Landsberg JL Service, 687-0778 (cell) 347-996-2642 snow plowing, taking things to the dump, and overseeing
                            your property when you are absent.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="musician">Musician</h2>
                <ul>
                    <li>
                        <p>Robert Helfman (338-0907) guitar and piano</p>
                    </li>
                    <li>
                        <p>Ricky Cannon 399-1498 Will volunteer as a DJ</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" id="misc">Odd Jobs</h2>
                <ul>
                    <li>
                        Eileen O'Neil: (845)-417-1191 eolenterprises@yahoo.com
                        <br>
                        House sitting, Home watch, Small household jobs, etc.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="plumber">Plumber</h2>
                <ul>
                    <li>
                        Steve Wynkoop: 845-626-4931
                    </li>
                    <li>
                        Henderson's Heating: 845-336-6611
                    </li>
                    <li>
                        Turners (Keith and Doug) Heating and Plumbing: 687-2430 
                        <i class="text-muted">(David Bronson reports they are prompt and efficient altho somewhat
                        expensive.)</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="organizer-especially-paper">Organizer (especially paper)</h2>
                <ul>
                    <li>Ellen G. Altman (940-5950) ega2ega@yahoo.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="renovationsinterior-and-exterior">Renovations–interior and exterior</h2>
                <ul>
                    <li>Robb Magee (590-2632) mageerobb@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="snow-shovelling">Snow Shovelling</h2>
                <ul>
                    <li>Ricky Cannon 399-1498</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="tree-work">Tree Work</h2>
                <ul>
                    <li> Kieth Hughes Expert Tree Service. (331-6872) </li>
                    <li> James Banks (687-2432 or 657-2280) </li>
                    <li> Mountain Tree Care (255-8741)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="windows">Windows</h2>
                <ul>
                    <li>
                        Ricky Cannon 399-1498 20% discount to members.
                    </li>
                    <li>
                        Dennis D’Esposito of Hudson Valley Window Cleaning, 331-7311, 25% discount to members.
                    </li>
                    <li>
                        Michael Monasterial 845-901-6820
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 id="yard-work">Yard Work</h2>
                <ul>
                    <li>
                        Rob Beckvermit (303-5483) (Highly Recommended)
                    </li>
                    <li>
                        Bruno Rawl (331-3002)
                    </li>
                    <li>
                        Rich Wright (679-9401)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
